body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.output{
    font-size: x-large ;
}

.directions{
    color: red;
    font-size: smaller;
}

.reset-button{
    color: red;
}

.submit-button{
    color: blue;
}