/*intro*/
*{
    margin: 0;
    padding: 30;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: xx-large;
    margin: 0px;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
}
nav ul {
    margin: 0px;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
    background-color: black;
}
li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    font-size:medium;
  }

li a:hover {
    background-color: whitesmoke;
    color: black;
  }
body{
    background: white;
    color: black;
}
.grid {
    position: relative;
    gap: 0px;
    margin: 0 60px;
    padding: 0 0px;
    max-width: 980px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
@keyframes fadeInAnimation {
    0% {
        opacity: 0; }
    100% {
        opacity: 1;}
}
.left{
    padding: 85px 0px;
}
.img1{
    width: 60%;
    display: block;
    float: left;
    padding: 0px 40px;
}

/*resume*/
.resume{
    padding: 20px 0px;
    width: 100%;
    height: auto;
}
.resumemain{
    padding: 50px 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
@keyframes fadeInAnimation {
    0% {
        opacity: 0; }
    100% {
        opacity: 1;}
}
/*projects*/
.projectsmain{
    padding: 50px 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
@keyframes fadeInAnimation {
    0% {
        opacity: 0; }
    100% {
        opacity: 1;}
}
.img2{
    width: 350px;
}
/*info*/
.infomain{
    padding: 40px 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
@keyframes fadeInAnimation {
    0% {
        opacity: 0; }
    100% {
        opacity: 1;}
}

/*connect*/
.connectmain{
    padding: 50px 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
@keyframes fadeInAnimation {
    0% {
        opacity: 0; }
    100% {
        opacity: 1;}
}
    
.connectmain a:link { 
  text-decoration: none;
  color: rgb(72, 72, 152);
}
.connectmain a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    li a {
        font-size:large;}
    }
@media screen and (max-width: 500px) {
    .title{
        font-size: large;
    }
    .grid {
        flex-direction: column;
    }
    .left{
        padding: 30px 0px;
    }
    .img1{
        padding: 30px 0px;
        width: 70%;
    }
    .resume{
        padding: 20px 0px;
        width: 100%;
        height: auto;
    }
    .resumemain{
        padding: 20px 50px;
    }
    .connectmain{
        padding: 20px 50px;
        }
    .infomain{
        padding: 20px 50px;
        }
    .projectsmain{
        padding: 20px 50px;
        }
    .img2{
        width: 200px;
    }
}