/*intro*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size:medium;
  }
li a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
body{
    background: white;
    color: black;
}
.grid {
    position: relative;
    margin: 0 60px;
    padding: 0 0px;
    max-width: 980px;
    display: flex;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
@keyframes fadeInAnimation {
    0% {
        opacity: 0; }
    100% {
        opacity: 1;}
}
#left{
    text-align: center;
    padding: 50px 0px;
}
#name{
    position: relative;
    left: 10%;
    top: 15px;
    text-align: left;
    padding: 50px 10px;
}
#welcome{
    position: relative;
    left: 10%;
    top: -65px;
    text-align: left;
    padding: 50px 10px;
}
#reviews{
    padding: 0px 60px;
    text-align: left;
}
#introstuff{
    position: relative;
    left: 10%;
    top: -145px;
    text-align: left;
    padding: 50px 10px;
}
.img1{
    padding: 20px 0px;
    width: 300px;
    height: auto;
    top: 120px;
}

/*resume*/
.resume{
    padding: 20px 0px;
    width: 70%;
    height: auto;
}
.resumemain{
    padding: 50px 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
@keyframes fadeInAnimation {
    0% {
        opacity: 0; }
    100% {
        opacity: 1;}
}

/*info*/
.infomain{
    padding: 40px 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
@keyframes fadeInAnimation {
    0% {
        opacity: 0; }
    100% {
        opacity: 1;}
}

/*connect*/
.connectmain{
    padding: 50px 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
@keyframes fadeInAnimation {
    0% {
        opacity: 0; }
    100% {
        opacity: 1;}
}
    
.connectmain a:link { 
  text-decoration: none;
  color: rgb(72, 72, 152);
}
.connectmain a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    li a {
        font-size:large;}
    }
@media screen and (max-width: 1000px) {
    li a {
        font-size:medium;}
    .grid {
        flex-direction: column;
    }
    #left{
        text-align: center;
        padding: 50px 0px;}
    .img1{
        padding: 20px 0px;
        width: 70%;
        height: auto;
        top: 120px;
    }
    #name{
        position: relative;
        left: 10%;
        text-align: left;
        padding: 50px 10px;
    }
    #welcome{
        position: relative;
        left: 10%;
        text-align: left;
        padding: 50px 10px;
    }
    .resume{
        padding: 20px 0px;
        width: 100%;
        height: auto;
    }
    .resumemain{
        padding: 50px 50px;
    }
    .connectmain{
        padding: 20px 50px;
        }
    .infomain{
        padding: 20px 50px;
        }

}